* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sr-only {
    position: absolute;
    left: -20000000rem;
    top: 200000rem;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.main-container {
    background: rgb(47, 47, 47);
    background: linear-gradient(49deg, rgba(47, 47, 47, 1) 30%, rgba(66, 66, 66, 1) 30%, rgba(78, 78, 78, 1) 70%, rgba(47, 47, 47, 1) 70%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Testimonial  */
.testimonial {
    background-color: #fff;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 45rem;
}

.testimonial__content {
    color: #fff;
    background: rgb(103, 103, 103);
    background-image: url(../assets/quote.svg) ,linear-gradient(140deg, rgba(103, 103, 103, 1) 0%, rgba(47, 47, 47, 1) 100%);
    background-repeat: no-repeat;
    background-position: 8% 10%, center;
    background-size: 4rem, contain;
    padding: 3rem 3rem 5rem;
    text-align: center;
    line-height: 24px;
}

.testimonial__info-container {
    padding: 5rem 2rem 2rem;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
}

.testimonial__user-photo {
    position: absolute;
    left: 40;
    top: 0;
    transform: translateY(-50%);
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 50%;
    border: 8px solid #fff;
}
.testimonial__user-info{
    margin: 0 2.5rem;
}
.attribution {
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: .5rem 2rem;
}
.attribution a{
    color: greenyellow;
}
.btn{
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    transition: transform .5s;
}
.btn:hover{
    transform: scale(1.1);
}
.btn:active{
    transform: scale(1);
}


/* ---- Media queries */
@media screen and (min-width:768px){
    .testimonial__content{
        background-position: 5% 13%, center;
        background-size: 6rem, contain;
        padding: 7rem 5rem;
    }
}